body {
    background: #056B42;
    padding: 2em 6em;
    font-family: 'Comic Sans MS', sans-serif;
}

h1 {
    font-size: 2.7em;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: 5px 0px 5px rgba(255, 0, 0, 1);
}

h1:last-of-type, .buttons {
    display: inline;
}

.buttons {
    list-style: none;
}

.buttons li {
    display: inline;
    margin-bottom: 5px;
}

.buttons li button {
    padding: 5px 15px;
    width: 6em;
}

#play-again {
    display: none;
    width: 10em;
    padding: 3px;
    background: #E84C3D;
    color: white;
    font-weight: 900;
}

#game-results {
    display: none;
    position: fixed;
    top: 25%;
    right: 50%;
    padding: 1em;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    font-weight: 900;
   -moz-box-shadow: inset 0 0 10px #000;
   -webkit-box-shadow: inset 0 0 10px #000;
   box-shadow: inset 0 0 10px #000;
}

.sect-total {
    margin: 10px 0;
}