body {
    background: #056B42;
    padding: 2em 6em;
    font-family: 'Comic Sans MS', sans-serif;
}

h1 {
    font-size: 3.2em;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: 5px 0px 5px rgba(255, 0, 0, 1);
}

section header {
    margin-bottom: 20px;
}

#player{
    margin-top: 1.5em;
}

#player h1, .buttons {
    display: inline;
}

.buttons {
    list-style: none;
}

.buttons li {
    display: inline;
}

.buttons li button {
    padding: 5px 15px;
}

.clearfix {
    content: "";
    clear: both;
}